body{
	background: #df2671 url(../img/bg.jpg);
	background-size: cover;
	font: 400 13px/1.54 Arial, sans-serif;
	color:  #797b7f;

}

/* Layout */
.ba-container{
	padding: 60px 20px 20px;
	max-width: 1200px;
}

/* Typography */

a {
	color:  #ea355a;
	text-decoration: none;
}

a:hover {
	color: orange;
}

a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background-color:  #ea355a;
	box-shadow: 0px 3px 0px 0px #bd1962;
	height: 50px;
	line-height: 50px;
	border-radius: 3px;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	padding: 0 30px;
	border: none;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: orange;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	border-radius: 4px;
	background-color:  #f0f0f0;
	border: none;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	color:  #797b7f;
	font-size: 14px;
	font-weight: 400;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	outline: 1px solid orange;
}
textarea {

}

.ba-account {
	border-radius: 4px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	max-width: 460px;
	padding: 26px 30px 54px;
	margin: 0 auto;
}

.ba-account__header {
	padding-bottom: 32px;
}

.ba-account__title {
	display: inline-block;
	margin: 0 6px 8px;
	color:  #1b1c1d;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.ba-account__header p {
	margin: 0;
	letter-spacing: 0.018em;
}

.ba-account-row {
	margin-bottom: 15px;
}

[name="first-name"] {
	float: left;
	width: 48%;
}

[name="last-name"] {
	float: right;
	width: 48%;
}

[name="password"],
[name="email"] {
	width: 100%;
}

.ba-account__submit {
	width: 100%;
	margin-bottom: 25px;
}

.ba-account__footer p {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
}



input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="number"]:invalid:focus,
input[type="tel"]:invalid:focus {
	outline: 1px solid red;
}
